input[type='radio'] {
    display: none;
}

.switch {
    position: relative;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    border-radius: var(--border-radius);
    align-items: center;
    background: #e5e5eb;
}

.switch label {
    padding: 1rem;
    z-index: 1;
    cursor: pointer;
}

.switch::before {
    content: '';
    position: absolute;
    top: 0.2rem;
    bottom: 0.2rem;
    width: 33%;
    transition: 0.5s left ease;
    border-radius: var(--border-radius);
    background: var(--bg-checkbox-before);
}

.switch:has(.switchFirst:checked)::before {
    left: 0.2rem;
}

.switch:has(.switchSecond:checked)::before {
    left: 33%;
}

.switch:has(.switchThird:checked)::before {
    left: 66%;
}
