.switch {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 50px;

    & input {
        display: none;
    }
}

.slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    padding-top: 14px;
    color: var(--system-color);
    cursor: pointer;
    background-color: var(--system-color-grey);
    transition: 0.4s;
    background-color: rgb(1 65 255 / 30%);
    &::before {
        position: absolute;
        bottom: 4px;
        left: 5px;
        width: 129px;
        height: 42px;
        padding: 9px;
        color: var(--primary-color);
        text-align: center;
        content: attr(data-value);
        background-color: #fff;
        transition: 0.4s;
    }
}

.input:checked + .slider::before {
    content: attr(placeholder);
    transform: translateX(160px);
}

.slider.round {
    border-radius: 34px;

    &::before {
        border-radius: 34px;
    }
}
