:root {
    --border-radius: 5rem;
    --primary-color: black;
    --switch-item-number: 3;
    --switch-padding: 5px;
    --switch-bg: #fff;
    --switch-border-width: 0.1rem;
    --switch-border-color: #ccc;
    --switch-border-radius: 5rem;
    --switch-label-padding: 1.5rem 0.5rem;
    --switch-active-text-color: #fff;
    --switch-active-bg-color: #350792;
}
