.MyButton {
    cursor: pointer;
    padding: 10px 15px;
    color: var(--primary-color);
    border-radius: 5px;

    &:hover {
        opacity: 0.7;
        fill-opacity: 0.8;
        stroke-opacity: 0.8;
    }
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}

.background {
    background-color: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.disabled {
    opacity: 0.5;
}

.fullWidth {
    width: 100%;
}
