.radioSwitch {
    display: flex;
    position: relative;
    /* width: 100%; */
    border: var(--switch-border-width) solid var(--primary-color);
    background-color: var(--switch-bg);
    border-radius: var(--switch-border-radius);
    outline: 0;
}

.radioSwitch input {
    display: none;
}

.radioSwitch label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    padding: var(--switch-label-padding);
    cursor: pointer;
    color: var(--primary-color);
    white-space: nowrap;
}

.radioSwitch input:checked + label {
    color: var(--switch-active-text-color);
}

.highlight {
    position: absolute;
    background-color: var(--switch-active-bg-color);
    top: calc(var(--switch-padding) / 2);
    left: calc(var(--switch-padding) / 2);
    border-radius: var(--switch-border-radius);
    transition: transform 1s ease-in-out;
    height: calc(100% - var(--switch-padding));
    min-width: 75px;
}

/* .radioSwitch input:nth-of-type(2):checked ~ .highlight {
    transform: translateX(100%);
}

.radioSwitch input:nth-of-type(3):checked ~ .highlight {
    transform: translateX(200%);
}

.radioSwitch input:nth-of-type(4):checked ~ .highlight {
    transform: translateX(300%);
}

.radioSwitch input:nth-of-type(5):checked ~ .highlight {
    transform: translateX(400%);
} */

/* @media screen and (max-width: 767px) {
    .radioSwitch {
        --switch-border-radius: 15px;
        flex-direction: column;
    }

    .highlight,
    .radioSwitch label {
        width: calc(100% - var(--switch-padding));
        height: calc(
            (100% / var(--switch-item-number)) -
                calc(var(--switch-padding) / var(--switch-item-number))
        );
    }

    .radioSwitch input:nth-of-type(2):checked ~ .highlight {
        transform: translateY(100%);
    }

    .radioSwitch input:nth-of-type(3):checked ~ .highlight {
        transform: translateY(200%);
    }

    .radioSwitch input:nth-of-type(4):checked ~ .highlight {
        transform: translateY(300%);
    }

    .radioSwitch input:nth-of-type(5):checked ~ .highlight {
        transform: translateY(400%);
    }
} */
